body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  background-image: url("Images/thailand-bg.webp");

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

  color: white;
}