body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  background-image:
    url("Images/thailandhome.jpg.jpg.jpg"),
    url("Images/thailandhome.jpg.jpg.jpg");

  background-size:
    cover,
    180px;

  background-repeat:
    no-repeat,
    repeat;

  background-position:
    center,
    top left;

  color: white;
}