* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCEAF7;
}

header {
    background-color: #1565C0;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #42A5F5;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.page-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
}

main {
    width: 75%;
    display: flex;
    gap: 20px;
}

aside {
    width: 25%;
    background-color: white;
    padding: 15px;
}

.card {
    flex: 1;
    background-color: white;
    padding: 15px;
    text-align: center;
}

figure {
    text-align: center;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
}

aside h2 {
    text-align: center;
    margin-bottom: 15px;
}

aside p {
    margin: 15px 0;
}

aside ul {
    margin-left: 20px;
}

aside li {
    margin-bottom: 8px;
}

.card h3 {
    margin: 15px 0;
    font-size: 26px;
}

.card p {
    text-align: left;
}

footer {
    background-color: #1565C0;
    color: white;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .page-layout {
        flex-direction: column;
    }

    main {
        width: 100%;
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}