.card {
    background-color: #22b8a9;
    width: 400px;
    height: 150px;
    border: 3px solid hsl(250, 88%, 49%);
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
        margin-bottom: 24px;
        margin: 0 auto;
        margin-top: 24px;
}